<main  >

  <div class="relative mx-auto px-8 max-w-7xl py-12   md:px-12">
    <div
      class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2 ">
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://vf-image.oss-cn-beijing.aliyuncs.com/4861715942688_.pic.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <p class="mt-1 text-lg font-medium leading-6 text-white">哎 提前先学吧😊  </p>
          </div>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://vf-image.oss-cn-beijing.aliyuncs.com/4871715942690_.pic.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>

            <p class="mt-1 text-lg font-medium leading-6 text-white">
              属实有点困🤔️
            </p>
          </div>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://vf-image.oss-cn-beijing.aliyuncs.com/4901715942704_.pic.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
            Yeah ✌️
            </p>
          </div>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://vf-image.oss-cn-beijing.aliyuncs.com/4891715942693_.pic.jpg"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">

            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              那我就讲两句？👏
            </p>
          </div>
        </div>
      </figure>

            <figure>
              <img
                class="w-full rounded-3xl shadow-2xl"
                src="https://vf-image.oss-cn-beijing.aliyuncs.com/4881715942691_.pic.jpg"
                alt=""
                width="1310"
                height="873"
              />
              <div class="mt-4 flex justify-between px-6">
                <div>
                  <h3 class="text-sm text-negroni-500">
                  </h3>
                  <p class="mt-1 text-lg font-medium leading-6 text-white">
                  发育中... 💪
                  </p>
                </div>
              </div>
            </figure>

                        <figure>
                          <img
                            class="w-full rounded-3xl shadow-2xl"
                            src="https://vf-image.oss-cn-beijing.aliyuncs.com/4911715942705_.pic.jpg"
                            alt=""
                            width="1310"
                            height="873"
                          />
                          <div class="mt-4 flex justify-between px-6">
                            <div>
                              <p class="mt-1 text-lg font-medium leading-6 text-white">
                              爸爸、妈妈、小致 😊
                              </p>
                            </div>
                          </div>
                        </figure>
    </div>
  </div>
</main>
